<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<remove name="WebDAV" />
				<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
				<remove name="OPTIONSVerbHandler" />
				<remove name="TRACEVerbHandler" />
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
				<taner></taner>
			</handlers>
			<modules>
				<remove name="WebDAVModule" />
			</modules>
			<aspNetCore processPath="dotnet" arguments=".\eMuhasebe.Server.Reports.WebAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 222C1F06-378D-23EB-4F29-9D787DAB46D4-->